.ellipsis {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    display:block;
    text-overflow: ellipsis;
    margin: auto;
    text-align: center;
    font-weight: bolder;
}

.giphy-embed{
    box-shadow: 2px 2px 2px 2px rgb(133, 133, 133);
    background-color: rgba(245, 222, 192, 0.452);
    padding: 4px;
}   